swagger: "2.0"
info:
  description: "CEMS v2 API"
  version: "2.0.0"
  title: "CEMS API V2"
host: "api.hceu-sandbox.com"
basePath: "/api/v2"

paths:
  /examresponse:
    post:
      tags:
        - "Enrollments"
      summary: "Creates an Exam Response for  a given order item and exam, with the provided answers"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "body"
          in: "body"
          description: ""
          required: true
          schema:
            $ref: "#/definitions/CreateExamResponse"
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "data"
            properties: 
              data: 
                required: 
                  - "examResponseId"
                  - "additionalOrderItemIdsAffected"
                properties: 
                  examResponseId: 
                    type: "number"
                    example: 4240118
                  additionalOrderItemIdsAffected: 
                    type: "array"
                    items: 
                      type: "integer"
                    example: []
                type: "object"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Order item does not exist"
        422:
          description: "Exam response with a passing grade already exists"

  /login:
    post:
      tags:
        - "Login"
      summary: "Login for applications requesting non-user related endpoints"
      description: ""
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "data"
            properties: 
              data:
                type: "object"
                required: 
                  - "access_token"
                properties: 
                  access_token: 
                    type: "string"
                    example: ""
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"

  /quick-login/{hash}:
    post:
      tags:
        - "Login"
      summary: "Grants API access to the current user based on the given hash"
      description: ""
      responses:
        200: 
          description: "Success"
          schema:
            $ref: "#/definitions/LoginResponse"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Quicklink with hash not found"

  /note:
    post:
      tags:
        - "Note"
      summary: "Create a note"
      description: ""
      consumes:
        - "multipart/form-data"
      produces:
        - "application/json"
      parameters:
        - in: "formData"
          name: "metadata"
          type: "string"
          required: false
          description: ""
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "data"
              - "messages"
            properties: 
              data:
                type: "object"
                required: 
                  - "is_admin"
                properties: 
                  is_admin: 
                    type: "boolean"
                    example: false
              messages:
                type: "object"
                required: 
                  - "message"
                properties: 
                  message: 
                    type: "string"
                    example: "Ok - note created"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        406:
          description: "JSON not formatted properly"
          
  /email/send-confirmation:
    post:
      tags:
        - "User"
      summary: "Resend the confirmation email to a user"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "body"
          in: "body"
          description: ""
          required: true
          schema:
            type: "object"
            required: 
              - "email_address"
              - "company_id"
            properties: 
              email_address: 
                type: "string"
                example: "jsmith123@example.com"
              company_id: 
                type: "string"
                example: "4"
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "messages"
            properties: 
              messages:
                type: "object"
                required: 
                  - "message"
                properties: 
                  message: 
                    type: "string"
                    example: "Confirmation email sent"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"

  /company:
    get:
      tags:
        - "Company"
      summary: "List of all companies"
      description: ""
      produces:
      - "application/json"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/CompanyList"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
          
  /company/{companyId}:
    get:
      tags:
        - "Company"
      summary: "Get company by the ID"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"          
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/GetCompany"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company not found"
          
  /company/{companyId}/accesslevels:
    get:
      tags:
        - "Company"
      summary: "Access levels associated with a company"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/AccessLevels"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company not found"
          
  /company/{companyId}/assignments/incomplete:
    get:
      tags:
        - "Company"
      summary: "List all incomplete assignments within a company"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/AssignmentsIncomplete"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company not found"
          
  /company/{companyId}/assignments/incomplete/metadata:
    get:
      tags:
        - "Company"
      summary: "Metadata for all incomplete assignments for a given company"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/AssignmentsMeta"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company not found"
          
  /company/{companyId}/access_level/{accessLevelConstant}/courses:
    get:
      tags:
        - "Company"
      summary: "Get all courses for a given company and access level"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
        - name: "accessLevelConstant"
          in: "path"
          description: ""
          required: true
          type: "string"
          enum: [limited, limited-plus, unlimited]
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/AccessLevelCourses"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company or access level not found"
          
  /company/{companyId}/boc_instructional_level:
    get:
      tags:
        - "Company"
      summary: "Board of Certification instructional level"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/BOCLevel"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company not found"
          
  /company/{companyId}/clinical_topic:
    get:
      tags:
        - "Company"
      summary: "List all clinical topics for a company"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"        
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/ClinicalTopic"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company not found"
          
  /company/{companyId}/features:
    get:
      tags:
        - "Company"
      summary: "List enabled company features"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"        
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/CompanyFeatures"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company not found"
          
  /company/{companyId}/instructional_level:
    get:
      tags:
        - "Company"
      summary: "List instructional levels of a given company"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/InstructLevel"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company not found"
          
  /company/{companyId}/license_group:
    get:
      tags:
        - "Company"
      summary: "Get a list of license types for a company by alphabetical order"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/LicenseGroup"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company not found"
         
  /company/{companyId}/licensetype:
    get:
      tags:
        - "Company"
      summary: "Get a list of license types for a company by ID"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "data"
            properties: 
              data: 
                type: "array"
                items: 
                  type: "object"
                  properties: 
                    id: 
                      type: "number"
                      example: 1
                    constant: 
                      type: "string"
                      example: "pt-pta"
                    name: 
                      type: "string"
                      example: "PT/PTA"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
          
  /company/{companyId}/resource:
    get:
      tags:
        - "ACL"
      summary: "List all company enabled resources"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          required: true
          type: "integer"          
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/EnabledResources"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company not found"
          
  /company/{companyId}/resource/{resourceConstant}:
    get:
      tags:
        - "ACL"
      summary: "Company enabled privileges for given resource"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
        - name: "resourceConstant"
          in: "path"
          description: ""
          required: true
          type: "string"
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "data"
            properties: 
              data: 
                type: "array"
                items: 
                  type: "object"
                  properties: 
                    name: 
                      type: "string"
                      example: "Add/Edit Users"
                    constant: 
                      type: "string"
                      example: "add-edit-users"
                    description: 
                      type: "string"
                      example: "Allow university corp admins to add/edit users"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company or resource not found"
          
  /company/{companyId}/corpadminreport:
    get:
      tags:
        - "Reports"
      summary: "Get all corp admin reports for a company"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/CorpAdminReport"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company not found"
          
  /company/{companyId}/course/self-enroll:
    post:
      tags:
        - "User"
      summary: "Registers the currently logged in user into a given course"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
        - name: "body"
          in: "body"
          description: ""
          required: true
          schema:
            type: "object"
            required: 
              - "course_id"
            properties: 
              course_id: 
                type: "string"
                example: "9999"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/SelfEnroll"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"

  /company/{companyId}/course_type:
    get:
      tags:
        - "Course"
      summary: "Get list of course types"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/CourseType"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company not found"
          
  /company/{companyId}/courses:
    get:
      tags:
        - "Course"
      summary: "Get detailed course information for a given company"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/CompanyCourses"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company not found"

  /company/{companyId}/curriculum:
    get:
      tags:
        - "Curriculum"
      summary: "Get all curricula for a company"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/CompanyCurricula"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company not found"
        
  /company/{companyId}/filteredreport:
    get:
      tags:
        - "Reports"
      summary: "Filtered reports for a company by ID of corp admin report"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
        - name: "corp_admin_report_id"
          in: "query"
          type: "integer"
          description: "The ID of the corp admin report"
          x-example: "?corp_admin_report_id=4"
        - name: "filter_by_creator"
          in: "query"
          type: "integer"
          description: "1 for true and 0 for false"
          x-example: "?filter_by_creator=0"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/FilteredReport"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company not found"

  /company/{companyId}/corpadminreport/{corpAdminReportId}/getreportnow:
    get:
      tags:
        - "Reports"
      summary: "Get a filtered or unfiltered report"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"
        - name: "corpAdminReportId"
          in: "path"
          description: ""
          required: true
          type: "integer"
        - name: "filteredReportId"
          in: "query"
          description: "The ID of the filtered report"
          type: "integer"
        - name: "dateInputForReport"
          in: "query"
          description: "Date input for reports with date input"
          type: "string"
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "messages"
            properties: 
              messages: 
                type: "array"
                items: 
                  type: "string"
                example: 
                  - "Report request placed in queue."
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company or Corp Admin Report not found"

  /company/{companyId}/filterset:
    get:
      tags:
        - "Curriculum"
      summary: "Get all filter sets for a given company"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/CompanyFilterSet"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company not found"
          
  /company/{companyId}/item_format:
    get:
      tags:
        - "Course"
      summary: "List course media types"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/ItemFormat"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company not found"
          
  /company/{companyId}/organizational-unit:
    get:
      tags:
        - "Organizational Unit"
      summary: "Get Organizational Unit information for a company"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/OrgUnit"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company not found"
    post:
      tags:
        - "Organizational Unit"
      summary: "Create new Organizational Unit for a company"
      description: "**NOTE**:<br>**parentId** not a required parameter but may cause error if there is already a top-level organizational unit"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
        - name: "body"
          in: "body"
          description: ""
          schema:
            type: "object"
            required: 
              - "name"
              - "parentId"
            properties: 
              name: 
                type: "string"
                example: "Region 1"
              parentId: 
                type: "string"
                example: "121"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/CreateOrgUnit"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        406:
          description: "Company already has top-level organizational unit or company ID is invalid"

  /company/{companyId}/organizational-unit/import/add:
    post:
      tags:
        - "Organizational Unit"
      summary: "Import a CSV to add organizational units"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "company_id"
          in: "path"
          description: ""
          required: true
          type: "integer"
        - name: "import_file"
          in: "formData"
          description: ""
          required: true
          type: "file"
      responses:
        202:
          description: "Success"
          schema:
            $ref: "#/definitions/ImportNotification"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        406:
          description: "An error occurred while validating the file"

  /company/{companyId}/organizational-unit/import/rename:
    post:
      tags:
        - "Organizational Unit"
      summary: "Import a CSV to rename organizational units"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "company_id"
          in: "path"
          description: ""
          required: true
          type: "integer"
        - name: "import_file"
          in: "formData"
          description: ""
          required: true
          type: "file"
      responses:
        202:
          description: "Success"
          schema:
            $ref: "#/definitions/ImportNotification"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        406:
          description: "An error occurred while validating the file"

  /company/{companyId}/organizational-unit/list:
    get:
      tags:
        - "Organizational Unit"
      summary: "Get a list of Organizational Units with preformatted labels"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          required: true
          type: "integer"         
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/OrgUnitList"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company not found"
          
  /company/{companyId}/organizational-unit/list/{prefix}:
    get:
      tags:
        - "Organizational Unit"
      summary: "Get Organizational Unit for a company using a prefix"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
        - name: "prefix"
          in: "path"
          description: ""
          required: true
          type: "string"
          x-example: "North"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/OrgUnitPrefix"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company not found"
        
  /company/{companyId}/organizational-unit/{organizationalUnitId}:
    put:
      tags:
        - "Organizational Unit"
      summary: "Update name of an Organizational Unit for given company"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
        - name: "organizationalUnitId"
          in: "path"
          description: ""
          required: true
          type: "integer"          
        - name: "body"
          in: "body"
          description: ""
          schema:
            type: "object"
            required: 
              - "name"
            properties: 
              name: 
                type: "string"
                example: "Example Name"
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "messages"
            properties: 
              messages: 
                type: "array"
                items: 
                  type: "string"
                example: 
                  - "Successfully saved the Organizational Unit."
        401:
          description: "Not authenticated"
        404:
          description: "Company not found"
        409:
          description: "Organizational unit with this name already exists"
    delete:
      tags:
        - "Organizational Unit"
      summary: "Delete an Organizational Unit for given company"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
        - name: "organizationalUnitId"
          in: "path"
          description: ""
          required: true
          type: "integer"          
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "messages"
            properties: 
              messages: 
                type: "array"
                items: 
                  type: "string"
                example: 
                  - "Organizational Unit was removed successfully"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company not found"
          
  /company/{companyId}/supervisingusers:
    get:
      tags:
        - "User"
      summary: "List of users for supervisor field"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "data"
            properties: 
              data: 
                type: "array"
                items: 
                  type: "object"
                  properties: 
                    id: 
                      type: "number"
                      example: 123456
                    firstName: 
                      type: "string"
                      example: "Jeff"
                    lastName: 
                      type: "string"
                      example: "Smith"
                    organizationalUnit: 
                      type: "string"
                      example: "Southern Branch"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company not found"

  /company/{companyId}/template/{typeConstant}:
    get:
      deprecated: true
      tags:
        - "Company"
      summary: "Retrieve a company's email template"
      description: ""
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"
        - name: "typeConstant"
          in: "path"
          description: ""
          required: true
          type: "string"
      responses:
        200:
          description: "Success"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
    post:
      deprecated: true
      tags:
        - "Company"
      summary: "Save/Update a company's email template"
      description: ""
      parameters:
        - name: "companyID"
          in: "path"
          description: ""
          required: true
          type: "integer"
        - name: "typeConstant"
          in: "path"
          description: ""
          required: true
          type: "string"
      responses:
        200:
          description: "Success"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"

  /company/{companyId}/user:
    get:
      tags:
        - "Company"
      summary: "Get a list of users in the company."
      description: "**NOTE**: If no filter is used, only the first page of users will be returned"
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"          
        - name: "page"
          in: "query"
          type: "integer"
          description: "Page of users to get"
          x-example: "?page=3"
        - name: "limit"
          in: "query"
          type: "integer"
          description: "Number of users per page"
          x-example: "?limit=5"
        - name: "filter"
          in: "query"
          type: "string"
          description: "Filter for each property on a user"
          x-example: "?filter[username]=jsmith1234"
        - name: "sort"
          in: "query"
          type: "string"
          description: "Order of users based on properties. A '-' indicates descending."
          x-example: "?sort=username"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/UserFilters"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company not found"
          
  /company/{companyId}/user/account-recovery:
    post:
      tags:
        - "User"
      summary: "Account recovery for users that are unable to log in"
      description: "Will send an email containing Password Reset instructions or a Welcome Email for completing account setup"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"        
        - name: "body"
          in: "body"
          description: ""
          schema:
            type: "object"
            required: 
              - "email_address"
            properties: 
              email_address: 
                type: "string"
                example: "jsmith123@example.com"
      responses:
        200:
          description: "Success"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company ID or email not found"
  
  /company/{companyId}/user/{userId}/send_welcome_email:
    post:
      tags:
        - "User"
      summary: "Sends a Welcome Email to a user based on User ID"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
        - name: "userId"
          in: "path"
          description: ""
          required: true
          type: "integer"          
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "messages"
            properties: 
              messages: 
                type: "array"
                items: 
                  type: "string"
                example: 
                  - "A welcome email has been sent to: 'jsmith123@example.com'."
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
          
  /company/user:
    post:
      tags:
        - "User"
      summary: "Add company member"
      description: "Add create a new user within a specific company"
      operationId: "addCompanyMember"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "body"
          in: "body"
          description: "The only required parameters are: first_name, last_name, company_id, emloyee_id, access_level, is_active, and is_corporate_admin"
          required: false
          schema:
            $ref: "#/definitions/CompanyMember"
      responses:
        201:
          description: "User was created"
          schema:
            type: "object"
            required: 
              - "data"
            properties: 
              data: 
                type: "object"
                required: 
                  - "user_id"
                properties: 
                  user_id: 
                    type: integer
                    example: 271930
        403:
          description: "Not authorized"
        409:
          description: "User already exists (probably duplicate employee_id)"
        422:
          description: "Cannot process the request with the provided information"
          
  /company/user/{userId}:
    put:
      tags:
        - "User"
      summary: "Update a user in a given company"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "userId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
        - name: "body"
          in: "body"
          description: "The only **required** parameters are company_id, employee_id, access_level, is_active, and is_corporate_admin"
          schema:
            $ref: "#/definitions/UpdateUser"
      responses:
        200:
          description: "Success"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "User not found"
  
  /company/user/{userId}/status-change:
    post:
      tags:
        - "User"
      summary: "Change the active status of a user"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "userId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
        - name: "body"
          in: "body"
          description: ""
          required: true
          schema:
            type: "object"
            required: 
              - "company_id"
              - "is_active"
            properties: 
              company_id: 
                type: "number"
                example: 4
              is_active: 
                type: "string"
                example: "false"
      responses:
        200:
          description: "Success"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "User not found"
         
  /company/{companyId}/group:
    get:
      tags:
        - "Group"
      summary: "Get a set of groups associated with the company"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/GroupSet"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company not found"
    post:
      tags:
        - "Group"
      summary: "Adds groups to a company"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
        - name: "body"
          in: "body"
          description: ""
          required: true
          schema:
            type: "object"
            required: 
              - "names"
            properties: 
              names: 
                type: "array"
                items: 
                  type: "string"
                example: 
                  - "Midwest Branch"
      responses:
        201:
          description: "Group(s) created successfully"
          schema:
            $ref: "#/definitions/CreateGroups"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"

  /company/{companyId}/group/{groupId}:
    get:
      tags:
        - "Group"
      summary: "Get a group associated with the company by group ID"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
        - name: "groupId"
          in: "path"
          description: ""
          required: true
          type: "integer"          
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "data"
            properties: 
              data:
                type: "object"
                required: 
                  - "id"
                  - "name"
                  - "users"
                properties: 
                  id: 
                    type: "number"
                    example: 123
                  name: 
                    type: "string"
                    example: "Clinical Staff"
                  users: 
                    type: "number"
                    example: 1
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company or group not found"
    put:
      tags:
        - "Group"
      summary: "Update the name of a group"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
        - name: "groupId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
        - name: "body"
          in: "body"
          required: true
          description: ""
          schema:
            type: "object"
            required: 
              - "name"
            properties: 
              name: 
                type: "string"
                example: "Midwest Branch"
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "messages"
            properties: 
              messages: 
                type: "array"
                items: 
                  type: "string"
                example: 
                  - "Updated the group name successfully!"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        409:
          description: "Group name is taken"
    delete:
      tags:
        - "Group"
      summary: "Delete a group"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"          
        - name: "groupId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "messages"
            properties: 
              messages: 
                type: "array"
                items: 
                  type: "string"
                example: 
                  - "Removed the group successfully!"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company or group not found"
          
  /company/{companyId}/group/{groupId}/member:
    get:
      tags:
        - "Group"
      summary: "Get users for a group by company and group IDs"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
        - name: "groupId"
          in: "path"
          description: ""
          required: true
          type: "integer"          
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/GroupUsers"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company or group not found"
    post:
      tags:
        - "Group"
      summary: "Add users to a group"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"          
        - name: "groupId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
        - name: "body"
          in: "body"
          description: ""
          required: true
          schema:
            type: "object"
            required: 
              - "unique_ids"
            properties: 
              unique_ids: 
                type: "array"
                items: 
                  type: "string"
                example: 
                  - "tt9999"
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "messages"
            properties: 
              messages: 
                type: "array"
                items: 
                  type: "string"
                example: 
                  - "Added users to the group successfully!"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company, group, or user not found"
  
  /company/{companyId}/group/{groupId}/member/{uniqueId}:
    delete:
      tags:
        - "Group"
      summary: "Remove a user from a group"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
        - name: "groupId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
        - name: "uniqueId"
          in: "path"
          description: ""
          required: true
          type: "string"
      responses:
        200:
          description: "Success"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company, group, or user not found"
  
  /company/{alias}/config:
    get:
      tags:
        - "Company"
      summary: "Gets company configuration by company domain alias"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "alias"
          in: "path"
          description: ""
          required: true
          type: "string"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/AliasConfig"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company domain alias not found"
          
  /company/{companyId}/login:
    post:
      tags:
        - "Company"
      summary: "Grants user access to our api for a given university"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"
        - name: "body"
          in: "body"
          description: ""
          required: true
          schema:
            type: "object"
            required:
              - "username"
              - "password"
              - "client_id"
            properties:
              username:
                type: "string"
                example: "email@example.com"
              password:
                type: "string"
                example: "abcd1234"
              client_id:
                type: "string"
                example: "123ab45c6def78g90hij"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/LoginResponse"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company not found"
          
  /company/{companyId}/resources:
    get:
      tags:
        - "ACL"
      summary: "Get a company's cms pages by the ID"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/ResourcePages"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company not found"
          
  /company/{companyId}/user/{userId}:
    get:
      tags:
        - "User"
      summary: "Get detailed information about a user in a given company"
      description: ""
      operationId: "userDetails"
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"
        - name: "userId"
          in: "path"
          description: ""
          required: true
          type: "integer"
      responses:
        200:
          description: "success"
          schema:
            $ref: "#/definitions/UserDetail"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company or user not found"
    # patch:
    #   tags:
    #     - "User"
    #   summary: "Patch information for a user"
    #   description: ""
    #   parameters:
    #     - name: "companyId"
    #       in: "path"
    #       description: ""
    #       required: true
    #       type: "integer"   
    #     - name: "userId"
    #       in: "path"
    #       description: ""
    #       required: true
    #       type: "integer"    
    #     - name: "body"
    #       in: "body"
    #       description: ""
          
          
  /company/{companyId}/user/{userId}/courses/{status}:
    get:
      deprecated: true
      tags:
        - "User"
      summary: "Get courses for given status of user and company"
      description: This endpoint has been deprecated and will be removed in a future version. Please use /profile/enrollments instead"
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          required: true
          type: "integer"         
        - name: "userId"
          in: "path"
          required: true
          type: "integer"         
        - name: "status"
          in: "path"
          required: true
          type: "string"
      responses:
        200:
          description: "Success"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company, user, or status not found"
          
  /course/{courseId}/approval:
    get:
      tags:
        - "Course"
      summary: "Active approvals for a course"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "courseId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/CourseApproval"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Course not found"
          
  /course/{courseId}/materials:
    get:
      tags:
        - "Course"
      summary: "Course materials for a given course"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "courseId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/CourseMaterials"
        401:
          description: "Access token not authenticated"
        404:
          description: "Course not found"
          
  /courses/company/{companyId}:
    get:
      tags:
        - "Course"
      summary: "Get basic course information for a given company"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"          
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "data"
            properties: 
              data: 
                type: "array"
                items: 
                  type: "object"
                  properties: 
                    id: 
                      type: "number"
                      example: 1234
                    name: 
                      type: "string"
                      example: "Creating A Respectful Workplace"
                    curricula: 
                      type: "array"
                      items: 
                        type: "number"
                      example: 
                        - 999
                        - 1111
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company not found"
  
  /curriculum:
    post:
      tags:
        - "Curriculum"
      summary: "Create a curriculum"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "body"
          in: "body"
          description: ""
          schema:
            $ref: "#/definitions/CreateCurriculum"
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "messages"
            properties: 
              messages: 
                type: "array"
                items: 
                  type: "string"
                example: 
                  - "Curriculum was created successfully with ID 1994"
        401:
          description: "Not authenticated"
        404:
          description: "Company Not Found"
        406:
          description: "No courses provided or doesn't have expected format"
         
  /curriculum/{curriculumId}:
    delete:
      tags:
        - "Curriculum"
      summary: "Deletes a curriculum"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "curriculumId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "messages"
            properties: 
              messages: 
                type: "array"
                items: 
                  type: "string"
                example: 
                  - "Curriculum with id 1997 removed successfully"
        401:
          description: "Not authenticated"
        403:
          description: "Access token was authenticated but not authorized"
        404:
          description: "Curriculum not found"
    get:
      tags:
        - "Curriculum"
      summary: "Get a curriculum"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "curriculumId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/GetCurriculum"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Curriculum not found"
    put:
      tags:
        - "Curriculum"
      summary: "Updates a curriculum"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "curriculumId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
        - name: "body"
          in: "body"
          description: ""
          schema:
            $ref: "#/definitions/UpdateCurriculum"
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "messages"
            properties: 
              messages: 
                type: "array"
                items: 
                  type: "string"
                example: 
                  - "Curriculum was updated successfully with ID 1994"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Curriculum not found"
        
  /enrollment/{enrollmentId}/exam-eligibility:
    get:
      tags:
        - "Enrollments"
      summary: "Exam eligibility for user"
      description: "**NOTE**:<br>**rejectReason**: If a user cannot take the exam, a constant will be provided.<br>**message**: If a reject constant has been provided, this will provide more detail as to why the user cannot take the exam."
      produces:
      - "application/json"
      parameters:
        - name: "enrollmentId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "data"
            properties: 
              data:
                type: "object"
                required: 
                  - "canTakeExam"
                  - "rejectReason"
                  - "message"
                properties: 
                  canTakeExam: 
                    type: "boolean"
                    example: true
                  rejectReason: 
                    type: "string"
                    example: ""
                  message: 
                    type: "string"
                    example: ""
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Enrollment not found"
          
  /externalcoursecompletion:
    post:
      tags:
        - "Course"
      summary: "Create an external course completion model"
      consumes:
        - "multipart/form-data"
      produces:
        - "application/json"
      parameters:
        - name: "course_name"
          in: "formData"
          description: ""
          type: "string"
          required: true
        - name: "credit_hours"
          in: "formData"
          description: ""
          type: "integer"
          required: true
        - name: "completion_date"
          in: "formData"
          description: ""
          type: "string"
          required: true
        - name: "proof_of_completion"
          in: "formData"
          description: ""
          type: "file"
          required: true
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "messages"
            properties: 
              messages: 
                required: 
                  - "message"
                properties: 
                  message: 
                    type: "string"
                    example: "External Course Completion saved successfully"
                type: "object"
        400:
          description: "The server didn't receive enough information"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
      
  /externalcoursecompletion/{externalCourseCompletionId}:
    delete:
      tags:
        - "Course"
      summary: "Remove an external course completion model"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "externalCourseCompletionId"
          in: "path"
          description: ""
          required: true
          type: "integer"          
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "messages"
            properties: 
              messages:
                type: "object"
                required: 
                  - "message"
                properties: 
                  message: 
                    type: "string"
                    example: "External course completion id '550593' was removed successfully."
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "External course completion ID is not valid"
    get:
      tags:
        - "Course"
      summary: "Display data for an external course completion model"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "externalCourseCompletionId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/ExternalCourseData"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "External course completion not found"
          
  /orderitem/{orderItemId}/update_expiration:
    post:
      tags:
        - "Course"
      summary: "Set a new expiration date for an Order Item"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "orderItemId"
          in: "path"
          description: ""
          required: true
          type: "integer"
        - name: "body"
          in: "body"
          description: ""
          schema:
            type: "object"
            required: 
              - "expiration_date"
              - "company_id"
            properties: 
              expiration_date: 
                type: "string"
                example: "2020-05-28"
              company_id: 
                type: "number"
                example: 4
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "data"
            properties: 
              data:
                type: "object"
                required: 
                  - "message"
                properties: 
                  message: 
                    type: "string"
                    example: "OrderItem 6846373 was updated successfully"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Order item not found"
        406:
          description: "Invalid date format"
          
  /filterset:
    post:
      tags:
        - "Curriculum"
      summary: "Creates a filter set"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "body"
          in: "body"
          description: ""
          required: true
          schema:
            $ref: "#/definitions/CreateFilterSet"
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "data"
              - "messages"
            properties: 
              data: 
                required: 
                  - "id"
                properties: 
                  id: 
                    type: "number"
                    example: 16397
                type: "object"
              messages: 
                type: "array"
                items: 
                  type: "string"
                example: "Filter Set was created successfully with ID 16397"

  /filterset/{filterSetId}:
    delete:
      tags:
        - "Curriculum"
      summary: "Delete a filter set"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "filterSetId"
          in: "path"
          description: ""
          required: true
          type: "integer"          
        - name: "body"
          in: "body"
          description: ""
          schema:
            type: "object"
            required: 
              - "company_id"
            properties: 
              company_id: 
                type: "string"
                example: "4"
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "messages"
            properties: 
              messages:
                type: "object"
                required: 
                  - "message"
                properties: 
                  message: 
                    type: "string"
                    example: "Filter set was removed successfully"
    get:
      tags:
        - "Curriculum"
      summary: "Get a filter set"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "filterSetId"
          in: "path"
          description: ""
          required: true
          type: "integer"        
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/GetFilterSet"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Filter Set not found"
    put:
      tags:
        - "Curriculum"
      summary: "Update a filter set"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "filterSetId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
        - name: "body"
          in: "body"
          description: ""
          schema:
            $ref: "#/definitions/UpdateFilterSet"
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "data"
              - "messages"
            properties: 
              data:
                type: "object"
                required: 
                  - "id"
                properties: 
                  id: 
                    type: "number"
                    example: 16398
              messages:
                type: "object"
                required: 
                  - "message"
                properties: 
                  message: 
                    type: "string"
                    example: "Filter Set was edited successfully with ID 16398"
        401:
          description: "Not authenticated"
        403:
          description: "Access token was authenticated but not authorized"

  /user/filter:
    post:
      tags: 
        - "Curriculum"
      summary: "List of users that are affected by a given filter set"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "body"
          in: "body"
          description: ""
          required: true
          schema:
            type: "object"
            required: 
              - "company_id"
              - "filters"
            properties: 
              company_id: 
                type: "string"
                example: 4
              filters: 
                type: "string"
                example: "[{\"type\": \"License Type\", \"attributes\": [3]}]"
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "data"
            properties: 
              data: 
                type: "array"
                items: 
                  type: "object"
                  properties: 
                    id: 
                      type: "number"
                      example: 99900
                    username: 
                      type: "string"
                      example: "Jeff Smith"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        406:
          description: "Invalid filters provided"

  /filteredreport:
    post:
      tags:
        - "Reports"
      summary: "Create a new filtered report for a given company"
      description: "**NOTE**:<br>filterSetIds is not a required field"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "body"
          in: "body"
          description: ""
          required: true
          schema:
            $ref: "#/definitions/CreateFilteredReport"
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "data"
              - "messages"
            properties: 
              data: 
                required: 
                  - "id"
                properties: 
                  id: 
                    type: "number"
                    example: 9999
                type: "object"
              messages: 
                type: "array"
                items: 
                  type: "string"
                example: 
                  - "Filtered Report was created successfully with ID 9999"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"

  /filteredreport/{filteredReportId}:
    delete:
      tags:
        - "Reports"
      summary: "Deletes a filtered report for a given Filtered Report ID"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "filteredReportId"
          in: "path"
          description: ""
          required: true
          type: "integer"
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "messages"
            properties: 
              messages:
                type: "object" 
                required: 
                  - "message"
                properties: 
                  message: 
                    type: "string"
                    example: "Filtered Report was removed successfully"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Filtered Report not found"
    put:
      tags:
        - "Reports"
      summary: "Update a Filtered Report for a given company"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "filteredReportId"
          in: "path"
          description: ""
          required: true
          type: "integer"
        - name: "body"
          in: "body"
          description: ""
          schema:
            $ref: "#/definitions/UpdateFilteredReport"
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "messages"
            properties: 
              messages:
                type: "object"
                required: 
                  - "message"
                properties: 
                  message: 
                    type: "string"
                    example: "Filtered Report was edited successfully with ID 11394"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Filtered Report not found"

  /getUsers/{companyId}:
    get:
      deprecated: true
      tags:
        - "Company"
      summary: "Get users by company ID"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
      responses:
        200:
          description: "Success"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company not found"
          
  /license-type:
    get:
      tags:
        - "User Licenses"
      summary: "List of possible license types"
      description: ""
      operationId: "licenseTypeList"
      produces:
      - "application/json"
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "data"
            properties: 
              data: 
                type: "array"
                items:
                  type: "object"
                  properties:
                    id: 
                      type: "number"
                      example: 26 
                    constant: 
                      type: string
                      example: "pt-pta"
                    name:
                      type: string
                      example: "PT/PTA"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
  
  /user/me/license:
    get:
      tags:
        - "User Licenses"
      summary: "Get a user's license information from the current access token"
      description: ""
      produces:
      - "application/json"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/GetUserLicense"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
         
  /profile/companies:
    get:
      tags:
        - "User"
      summary: "List of basic information for companies that user belongs to"
      description: ""
      produces:
      - "application/json"
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "data"
            properties: 
              data: 
                type: "array"
                items: 
                  type: "object"
                  properties: 
                    id: 
                      type: "string"
                      example: "1"
                    user_id: 
                      type: "string"
                      example: "999999"
                    name: 
                      type: "string"
                      example: "Example University"
                    theme: 
                      type: "string"
                      example: "teal-silver-dark"
                    is_corporate_admin: 
                      type: "string"
                      example: "0"
                    is_admin: 
                      type: "string"
                      example: "1"
                    subdomain: 
                      type: "string"
                      example: "exuniversity"
                    username_watermark: 
                      type: "string"
                      example: "Username (Email address)"
                    username_label: 
                      type: "string"
                      example: "Username (Email address)"
                    example_username: 
                      type: "string"
                      example: "jsmith@email.com"
                    logo: 
                      type: "string"
                      example: "https://www.example.com/image.png"
        401:
          description: "Not authenticated"
        404:
          description: "No results found"
          
  /profile/companies/{companyId}:
    get:
      tags:
        - "User"
      summary: "Basic information for a requested company a user belongs to"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "data"
            properties: 
              data: 
                required: 
                  - "has_access"
                  - "is_corporate_admin"
                properties: 
                  has_access: 
                    type: "boolean"
                    example: true
                  is_corporate_admin: 
                    type: "boolean"
                    example: true
                type: "object"
        401:
          description: "Access token not authenticated"
        404:
          description: "Company not found"
          
  /profile/company/{companyId}/access/allowed/all:
    get:
      tags:
        - "User"
      summary: "All privileges for the user"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "companyId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "data"
            properties: 
              data: 
                type: "array"
                items: 
                  type: "string"
                example: 
                  - "assignments/mark-as-complete"
                  - "assignments/manual-course-assignment"
                  - "assignments/extend-due-dates"
                  - "groups/delete-groups"
                  - "groups/rename-groups"
                  - "groups/create-groups"
                  - "hierarchy/move-organizational-units"
                  - "hierarchy/delete-organizational-units"
                  - "hierarchy/hierarchy-importer"
                  - "hierarchy/edit-hierarchy"
                  - "hierarchy/create-organizational-units"
                  - "hierarchy/rename-organizational-units"
                  - "reports/university-reporting"
                  - "reports/filtered-reporting"
                  - "reports/report-schedule"
                  - "users/add-edit-users"
                  - "users/grant-revoke-privileges"
                  - "users/view-transcript"
                  - "users/batch-user-importer"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company not found"
          
  /profile/feature/{featureConstant}:
    get:
      tags:
        - "User"
      summary: "Responds if the user is a member of any company with the given feature"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "featureConstant"
          in: "path"
          description: ""
          required: true
          type: "string"
          x-example: "add-edit-users"
      responses:
        200:
          description: "Success"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Feature not found"
          
  /profile/first-time-login:
    post:
      tags:
        - "User"
      summary: "Login for first time users without a password set"
      description: "Endpoint for users who have not logged in previously"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "body"
          in: "body"
          description: ""
          required: true
          schema:
            type: "object"
            required: 
              - "username"
              - "client_id"
              - "company_id"
            properties: 
              username: 
                type: "string"
                example: "jsmith123456"
              client_id: 
                type: "string"
                example: "client_id"
              company_id: 
                type: "number"
                example: 4
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/LoginResponse"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
          
  /profile/login:
    post:
      tags:
        - "User"
      summary: "Grants API access to a given user"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "body"
          in: "body"
          description: ""
          required: true
          schema:
            type: "object"
            required: 
              - "username"
              - "password"
              - "client_id"
            properties: 
              username: 
                type: "string"
                example: "jsmith123@example.com"
              password: 
                type: "string"
                example: "abc123"
              client_id: 
                type: "string"
                example: "client_id"
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/LoginResponse"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
  
  /profile/user/details:
    get:
      tags:
        - "User"
      summary: "Get basic information of a user"
      description: "Returns basic information of a user based on the access token."
      produces:
      - "application/json"
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "data"
            properties: 
              data:
                type: "object"
                required: 
                  - "first_name"
                  - "last_name"
                  - "email_address"
                  - "is_admin"
                  - "user_id"
                  - "account_setup_complete"
                properties: 
                  first_name: 
                    type: "string"
                    example: "Jeff"
                  last_name: 
                    type: "string"
                    example: "Smith"
                  email_address: 
                    type: "string"
                    example: "jsmith123@example.com"
                  is_admin: 
                    type: "boolean"
                    example: true
                  user_id: 
                    type: "number"
                    example: 123456
                  account_setup_complete: 
                    type: "boolean"
                    example: false
        401:
          description: "Not authenticated"

  /report/sendtoqueue:
    post:
      tags:
        - "Reports"
      summary: "Sends a filtered report to be processed and generate report and send it"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "body"
          in: "body"
          description: ""
          required: true
          schema:
            $ref: "#/definitions/SendToQueue"
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "messages"
            properties: 
              messages: 
                type: "array"
                items: 
                  type: "string"
                example: 
                  - "Your report was successfully sent to the queue"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Corp Admin Report, Filtered Report, or Company not found"

  /reportFilterType:
    get:
      tags:
        - "Reports"
      summary: "All possible report filter types"
      description: ""
      produces:
      - "application/json"
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "data"
            properties: 
              data: 
                type: "array"
                items: 
                  type: "object"
                  properties: 
                    type: 
                      type: "string"
                      example: "license_type"
        401:
          description: "Not authenticated"

  /usercustomreport:
    post:
      tags:
        - "Reports"
      summary: "Create a relationship between a filter set and a corp admin report"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "body"
          in: "body"
          description: ""
          required: true
          schema:
            type: "object"
            required: 
              - "corpAdminReportId"
              - "filteredReportId"
            properties: 
              corpAdminReportId: 
                type: "number"
                example: 8
              filteredReportId: 
                type: "number"
                example: 12345
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "data"
            properties: 
              data:
                type: "object"
                required: 
                  - "message"
                properties: 
                  message: 
                    type: "string"
                    example: "Association created successfully."
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Corp admin report or filtered report not found"

  /security/refresh:
    get:
      tags:
        - "Security"
      summary: "Refresh access token if not expired"
      description: ""
      produces:
      - "application/json"
      responses:
        200:
          description: "Access token has been refreshed"
          schema:
            type: "object"
            required: 
              - "data"
              - "messages"
            properties: 
              data: 
                required: 
                  - "access_token"
                  - "refresh_token"
                properties: 
                  access_token: 
                    type: "string"
                    example: "access_token"
                  refresh_token: 
                    type: "string"
                    example: "refresh_token"
                type: "object"
              messages: 
                required: 
                  - "message"
                properties: 
                  message: 
                    type: "string"
                    example: "Access token has been refreshed"
                type: "object"
        401:
          description: "Refresh token has expired"
  
  /users/course/register:
    post:
      tags:
        - "User"
      summary: "Registers users to courses"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "body"
          in: "body"
          description: ""
          required: true
          schema:
            $ref: "#/definitions/RegisterUsers"
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "data"
              - "messages"
            properties: 
              data: 
                type: "string"
                example: ""
              messages:
                type: "object" 
                required: 
                  - "message"
                properties: 
                  message: 
                    type: "string"
                    example: "Course registration successful"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "User not found"

  /user/email:
    get:
      tags:
        - "User"
      summary: "Get email address for user"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "email_address"
          in: "query"
          type: "string"
          required: true
          x-example: "?email_address=jsmith@example.com"
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "data"
            properties: 
              data: 
                type: "array"
                items: 
                  type: "object"
                  properties: 
                    user_id: 
                      type: "number"
                      example: 123456
                    is_confirmed: 
                      type: "boolean"
                      example: true
                    user_email_id: 
                      type: "number"
                      example: 999999
                    is_primary: 
                      type: "boolean"
                      example: true
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Email not found"
  
  /user/feature/{featureId}:
    get:
      tags:
        - "User"
      summary: "Check if current user has access to a specific feature"
      description: ""
      produces:
      - "application/json"
      parameters:
        - name: "featureId"
          in: "path"
          description: ""
          required: true
          type: 'integer'         
      responses:
        200:
          description: "Success"
          schema:
            $ref: "#/definitions/FeatureAccess"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Feature not found"
          
  /user/import/map:
    get:
      tags:
        - "User"
      summary: "Columns available for mapping when importing CSV of users"
      description: ""
      produces:
      - "application/json"
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "data"
            properties: 
              data: 
                type: "array"
                items: 
                  type: "object"
                  properties: 
                    column_name: 
                      type: "string"
                      example: "firstname"
                    label: 
                      type: "string"
                      example: "First Name"
                    max_columns: 
                      type: "number"
                      example: 1
                    required: 
                      type: "boolean"
                      example: false
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
          
  /user/password:
    post:
      tags:
        - "User"
      summary: "Updates the password of user that is providing an access token"
      description: "**NOTE**:<br>**company_id** is not a required parameter"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "body"
          in: "body"
          description: ""
          schema:
            type: "object"
            required: 
              - "password"
            properties:
              password:
                type: "string"
                example: "abcd1234"
              company_id: 
                type: "string"
                example: "4"
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required:
              - "messages"
            properties:
              messages:
                type: "object"
                required:
                  - "emailSent"
                properties: 
                  emailSent: 
                    type: "boolean"
                    example: true
                    
  /user/password/reset:
    post:
      tags:
        - "User"
      summary: "Password reset request for a given email address (username)"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "body"
          in: "body"
          description: ""
          required: true
          schema:
            type: "object"
            required: 
              - "email_address"
              - "company_id"
            properties: 
              email_address: 
                type: "string"
                example: "jsmith123@example.com"
              company_id: 
                type: "number"
                example: 4
      responses:
        200:
          description: "Success"
          schema:
            type: "object"
            required: 
              - "messages"
            properties: 
              messages:
                type: "object"
                required: 
                  - "message"
                properties: 
                  message: 
                    type: "string"
                    example: "Password reset email sent"
        400:
          description: "No user found with this email address or Company not found"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"

  /user/reset-password/password:
    post:
      tags:
        - "User"
      summary: "Updates the password of a user based on hash"
      description: "Updates the password of a user based on the provided hash from a reset password request"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "user_hash"
          in: "query"
          description: ""
          required: true
          type: "string"
        - name: "body"
          in: "body"
          description: ""
          schema:
            type: "object"
            required: 
              - "password"
              - "company_id"
            properties: 
              password: 
                type: "string"
                example: "1234abcd"
              company_id: 
                type: "number"
                example: 4
      responses:
        200:
          description: "Success"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "Company not found or hash provided does not exist"

  /user/{userId}:
    put:
      tags:
        - "User"
      summary: Update user's first and last name
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "userId"
          in: "path"
          description: ""
          required: true
          type: "integer"         
        - name: "body"
          in: "body"
          description: "**NOTE**: asha_code is not a required parameter"
          schema:
            type: "object"
            required: 
              - "first_name"
              - "last_name"
              - "asha_code"
            properties: 
              first_name: 
                type: "string"
                example: "Jeff"
              last_name: 
                type: "string"
                example: "Smith"
              asha_code: 
                type: "string"
                example: ""
      responses:
        200:
          description: "Success"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "User not found"
  
  /user/{userId}/addresses:
    put:
      tags:
        - "User"
      summary: "Update the user billing and shipping addresses"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "userId"
          in: "path"
          description: ""
          required: true
          type: "integer"
        - name: "body"
          in: "body"
          description: ""
          schema:
            $ref: "#/definitions/UpdateAddresses"
      responses:
        200:
          description: "Success"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized"
        404:
          description: "User not found"
  
  /user/{userId}/email:
    delete:
      tags:
        - "User"
      summary: "Removes an email address from a user's account"
      description: ""
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - name: "userId"
          in: "path"
          description: ""
          required: true
          type: "integer"
        - name: "body"
          in: "body"
          description: ""
          required: true
          schema:
            type: "object"
            required: 
              - "email_address"
            properties: 
              email_address: 
                type: "string"
                example: "jsmith123@example.com"
      responses:
        200:
          description: "Success"
        401:
          description: "Not authenticated"
        403:
          description: "Not authorized or Email address is primary and cannot be deleted"
        404:
          description: "Email address not found"
    post:
      tags:
        - "User"
      summary: "Adds an email address to a user's account"
      description: ""
      consumes:
[...]
